@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: rgb(240, 231, 219);
    
}

.container{
    display: flex;    
    
    justify-content: center;
}
header{
    position:fixed;
    width: 90%;
    max-width: 510px;
    z-index: 1000;
    height: 60px;
    margin: 10px;
    background-color: rgba(128, 132, 137,0.5);    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    
}
nav{    
    display: flex;  
    align-items: center; 
    justify-content: space-evenly;
    height: 50px;
    width:98%;
    gap:10px;    
    background-color: rgb(74, 76, 79);
    border-radius: 7px;
    color:rgb(242, 242, 242);
}
nav a{    
    text-decoration: none; 
    color:rgb(242, 242, 242);   
    transition: 0.2s ease-in-out;
}
nav a:hover{
    color:rgb(255, 204, 0);
    transition: 0.3s ease-in;
}
.fa-moon,.fa-language,.fa-sun{
    font-size: 20px;
}

main{
    margin-top:140px;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.profile{   
    z-index: 1; 
    display: flex;
    max-width:520px;
    gap:20px;  
    color: #1A202C;      
}
.profile-text{
    flex-grow: 1;
}
.profile-text h1{
    font-size: 30px;
}
.profile-text span{
    color:#1a202cd8;
    font-size:20px;
}


.profile img{
    margin-top: 0px;
    margin-left:1rem;
    border:2px solid rgb(255, 204, 0);
    border-radius: 50%;
    height:120px;
}
.about{
    color: #1A202C;
    max-width: 510px;
    display: flex;
    flex-direction:column;
    
}

.links{
    color: #1A202C;
    font-size:25px;
    text-decoration: none;
}
.links i{
    font-size:20px;
    margin-right: 10px;
}

.about p{
    font-size: 17px;
    text-align: justify;
    text-indent: 15px;
    line-height: 30px;
}
.projects{
    margin-top: 20px;
    max-width: 510px;
    display: flex;
    flex-direction: column;
}
.cont-projects{
    margin-top: 10px;
    max-width: 510px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;

}
.cont-projects a{
    width: 240px;
    
    color: rgb(74, 76, 79);
    text-decoration: none;
    flex-basis: 240px;
    flex-grow: 1;
}
.name-project{
    
    font-size: 18px;
}
.project{
    width:100%;
    
    height: 150px;
    border-radius: 7px;    
    
    background-size: cover;   
    background-repeat: no-repeat; 
    background-position: center;
    text-align: inherit;
    
}

footer{
    margin: 30px 0;
}

.dark {
    background-color: rgb(32, 32, 35);    
    transition: 0.2s ease-in;
}
.dark header{
    background-color: rgba(255, 255, 255, 0.25);
}
.dark nav{
    background-color: rgba(240, 231, 219, 0.952);
        
}
.dark nav a {
    color:rgb(32, 32, 35);
}
.dark .profile img{
    border:2px solid #00a4e6;
    transition: 0.3s ease-in;
}
.dark .profile span{
    color:rgba(255, 255, 255, 0.603);
}
.dark .profile,
.dark .about p,
.dark .links,
.dark .cont-projects a span,
.dark footer span{

    color:rgba(255, 255, 255, 0.92);
}
.dark nav a:hover{
    color:#00a4e6;
    transition: 0.3s ease-in;
}



[data-content]{
    position:absolute;
    visibility: hidden;
    opacity: 0;
    
    
}
.options__active[data-content]{
    position: relative;
    visibility: visible;
    z-index: 10;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}
.idioma{
    z-index: 10;
}
.fa-language{
    z-index: 1;
    pointer-events: none;
}
.desc[data-content="idiom"]{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    
}
.desc__active[data-content="idiom"]{
    position: relative;
    visibility: visible;
    
    opacity: 1;
    
}
